
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-main {
    width: 50vh;
    margin: 100px auto;
    background-color: rgba(240,248,255, 0.6);
    padding: 20px;
    text-align: center;
}
.ba

.app-main > * {
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    background-color:#344f74;
    border: none;
    outline: none;
    color: #582233;
    font-size: 1.2rem;
    height: 50px;
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
}

.input-box:focus {
    background-color:#e0dcd0;
}


.weather-body {
    display: none;
    color: #050300;
    padding: 20px;
    line-height: 2rem;
    border-radius: 10px;
    background-color:#b6d3a2;
    height: 50vh;
}

.location-details {
    font-weight: bold;
}

.weather-status {
    padding: 20px;
}

.temp {
    font-size: 50pt;
    font-weight: 700;
    margin: 20px 0;
    text-shadow: 2px 4px rgba(0,0,0,0.3);
}

.min-max, .weather {
    font-size: 12pt;
    font-weight: 600;
}